#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.field {
    height: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 5px;
}

.field label {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.field input {
    width: 60%;
    padding: 0;
    border: 2px solid black;
    border-radius: 4px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

#occupation, #state {
    width: 60%;
    border: 2px solid black;
    border-radius: 4px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

.btns {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#submit-btn, #reset-btn {
    border: none;
    border-radius: 5px;
    height: 30px;
}

@media screen and (max-width: 768px) {

    #form {
        width: 80%;
    }

    .field {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .field label {
        width: 100%;
        padding-bottom: 4px;
    }

    #submit-btn, #reset-btn {
        margin-top: 10px;
    }
}